.notifications{
    margin-top: 2.8rem;
}
.notifications__heading{
    font-size: 3rem;
}
.nav{
    margin-top: 1.2rem;
    border-bottom: 2px solid #000;
}
.nav__item{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:default;
}
.nav__tittle{
    font-size: 2rem
}
.nav__icon{
    width: 8rem;
    height: 0.6rem;
    /* background-color: #014FA0; */
    background-color: #878a8c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav__item.active .nav__icon {
    background-color: #014FA0;
}